@{
  Layout = "_Layout";
}

<body>
  <div class="container">
    <div class="title">
      <h1>RestaurantTown</h1>
    </div>

    <div class="buttons">
      <div class="restaurants">
        @Html.ActionLink("See Restaurants", "Index", "Restaurants", null, new { @class = "btn btn-dark btn-large"})<br>
      </div>
      @Html.ActionLink("See Cuisines", "Index", "Cuisines", null, new { @class = "btn btn-dark btn-large" })<br>
    </div>

  </div>
</body>